body{
    margin: 0;
    padding: 0;
}
.wrapper{
    border: 1px solid #000;
    height: 700px;
    width: 100%;
}
.header{
    border: 1px solid #000;
    height: 120px;
    width: 100%;
}
.menu{
    border: 1px solid #000;
    height: 700px;
    width: 100%;
}
.footer{
    border: 1px solid #000;
    height: 700px;
    width: 100%;
}
#main{
    border: 1px solid #000;
    height: 700px;
    width: 100%;
}