body{
    margin: 0;
    padding: 0;
}
.wrapper{
    border: 1px solid #000;
    height: 756px;
    width: 90%;
    margin: 0 auto;
}
.header{
    background-image: url("../images/banner_phukiendidong.png");
    border: 1px solid rgb(21, 96, 236);
    height: 180px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 180px;
}
.menu{
    border: 1px solid rgb(151, 13, 13);
    height: 50px;
    width: 100%;
    background: rgb(74, 189, 202);
}
#main{
    border: 1px solid rgb(220, 220, 5);
    height: 400px;
    width: 100%;
}
.sidebar{
    border: 1px solid rgb(220, 220, 5);
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
.maincontent{
    border: 1px solid rgb(152, 223, 30);
    height: 390px;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.clear{
    clear: both;

}
.footer{
    border: 1px solid rgb(104, 232, 213);
    height: 120px;
    width: 100%;
    background: rgb(108, 103, 208);
}

